/*-------------------- LOGO --------------------*/
.logo {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	img {
		max-width: 110px;
		display: block;
	}
}
.btn {
	background-color: $accent_color;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	height: 50px;
	display: inline-block;
	min-width: 200px;
	transition: 0.4s ease;
	color: #000;
	&:hover {
		background-color: $link_hover_color;
	}
}
/*----------------------- TO-TOP -----------------------*/
.to-top {
	position: fixed;
	bottom: 30px;
	right: 20px;
	opacity: 0;
	pointer-events: none;
	z-index: 5;
	transition: 0.3s ease-in-out;
	width: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	background-color: #000;
	&.active {
		opacity: 1;
		pointer-events: auto;
	}
}

/*----------------------- STYLE -----------------------*/

/* --------------------- MEDIA ---------------------- */
@media (max-width: 1365px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 479px) {
}
