$accent_color: #45a7ef;
$primary_color: #000000;
$secondary_color: #333333;
$link_color: #45a7ef;
$link_hover_color: #45c0ef;
$title_color: #45a7ef;
$bg_color: #fff;
$input_border_color: #dbdbdb;

$border_radius: 5px;

$font_family: 'Poppins', sans-serif;