$accent_color: #207dff;
$primary_color: #404040;
$link_color: #010101;
$link_hover_color: #207dff;
$title_color: #010101;
$bg_color: #f9f9f9;

$border_radius: 10px;

$font_family: 'Circular Std', sans-serif;
$font_family_secondary: 'Lato', sans-serif;