$accent_color: #ff5858;
$primary_color: #525252;
$link_color: #181818;
$link_hover_color: #ff5858;
$title_color: #181818;
$bg_color: #f7f7f7;

$border_radius: 1px;

$font_family: 'Circular Std', sans-serif;