$accent_color: #0058ff;
$primary_color: #515151;
$link_color: #191919;
$link_hover_color: #0058ff;
$title_color: #191919;
$bg_color: #f7f7f7;

$border_radius: 1px;

$font_family: 'Circular Std', sans-serif;